.deroulant
    border-radius: 10px

    h4, p, ul
        margin: 0
        font-weight: 400
        width: 100%
    h4
        color: white
        background-color: #FF6060
        border-radius: 10px
        padding: 10px
        font-size: 1.5rem
        text-align: left
        line-height: 20px

    p, ul
        width: calc(100% - 40px)
        right: -100%
        visibility: hidden
        max-height: 0

    .showContent
        color: #FF6060
        line-height: 1.5
        padding: 20px
        border-radius: 0 0 10px 10px
        background-color: #F6F6F6
        right: 0
        visibility: visible
        color: #FF6060
        line-height: 1.5
        max-height: 500px
        transition: max-height 0.8s ease

    > div
        display: flex
        flex-direction: row
        position: relative
        align-items: center
        justify-content: space-between

    button
        background: none
        border: none
        cursor: pointer
        position: absolute
        left: 90%

    .rotate
        transform: rotate(180deg)

@media (max-width: 767px)
.deroulant
    > div h4
        font-size: 1.625rem

    p
        font-size: 1.5rem
