.deroulant
    width: 50%
    border-radius: 10px

    h4, p, ul
        margin: 0
        font-weight: 400
        width: 100%
    h4
        color: white
        background-color: #FF6060
        border-radius: 10px
        padding: 10px
        font-size: 1.125rem
        text-align: left
        line-height: 20px

    p, ul
        width: calc(100% - 40px)
        right: -100%
        visibility: hidden
        // transition: right 0.3s ease
        max-height: 0
        transition: max-height 0.8s ease-in-out

    .showContent
        color: #FF6060
        line-height: 1.5
        padding: 20px
        border-radius: 0 0 10px 10px
        background-color: #F6F6F6
        right: 0
        visibility: visible
        color: #FF6060
        line-height: 1.5
        max-height: 500px
        transition: max-height 0.8s ease-in-out

    > div
        display: flex
        flex-direction: row
        position: relative
        align-items: center
        justify-content: space-between

    button
        background: none
        border: none
        cursor: pointer
        position: absolute
        left: 90%
        transition: transform 0.3s ease-in-out

        .rotated
            transform: rotate(180deg)
