.host
    display: flex
    flex-direction: row
    gap: 10px
    justify-content: right
    align-items: center

    p
        color: #FF6060
        font-size: 1.125rem
        text-align: right
        white-space: normal

    img
        width: 64px
        height: 64px
        border-radius: 50%
        overflow: hidden

@media (max-width: 767px)
    .host
        p
            font-size: 1.5rem
        img
            width: 32px
            height: 32px
