.host
    display: flex
    flex-direction: row
    gap: 10px

    p
        color: #FF6060
        font-size: 1.125rem
        text-align: right
        word-wrap: wrap

    img
        width: 64px
        height: 64px
        border-radius: 50%
        overflow: hidden
