.header
    display: flex
    width: 100%
    padding: 20px
    align-items: center

.header__nav
    display: flex
    justify-content: flex-end
    flex-direction: row

    .header__nav__link
        color: #FF6060
        font-weight: 500

    .header__nav__link:hover
        text-decoration: underline
