.header
    display: flex
    height: 68px
    align-items: center
    justify-content: space-between
    margin-bottom: 30px

    .header__logo
        height: 100%

    .header__nav
        display: flex

        .header__nav__link
            color: #FF6060
            font-weight: 500
            font-size: 24px
            text-align: right
            width: 136px

        .header__nav__link:hover
            text-decoration: underline
