body
  margin: 0
  font-family: "Montserrat", sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  max-width: 1440px
  width: 90%
  margin: 30px auto
  font-weight: 500

a
  text-decoration: none

a:visited
  color: currentColor

ul
  list-style: none
